--
-- PostgreSQL database dump
--

\restrict QGpeOPCPWSAibzd3OgGg8hwir1WhvcB947Hqtonm9iVqGMyXf3aOHPtgVvuWomj

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.decks DROP CONSTRAINT IF EXISTS fkw437eayqgu30qkfgenn4kmll;
ALTER TABLE IF EXISTS ONLY public.test_results DROP CONSTRAINT IF EXISTS fk_test_results_user;
ALTER TABLE IF EXISTS ONLY public.test_results DROP CONSTRAINT IF EXISTS fk_test_results_deck;
ALTER TABLE IF EXISTS ONLY public.study_sessions DROP CONSTRAINT IF EXISTS fk_study_sessions_user;
ALTER TABLE IF EXISTS ONLY public.study_sessions DROP CONSTRAINT IF EXISTS fk_study_sessions_deck;
ALTER TABLE IF EXISTS ONLY public.card_progress DROP CONSTRAINT IF EXISTS fk_progress_user;
ALTER TABLE IF EXISTS ONLY public.card_progress DROP CONSTRAINT IF EXISTS fk_progress_card;
ALTER TABLE IF EXISTS ONLY public.study_log DROP CONSTRAINT IF EXISTS fk_log_user;
ALTER TABLE IF EXISTS ONLY public.study_log DROP CONSTRAINT IF EXISTS fk_log_card;
ALTER TABLE IF EXISTS ONLY public.decks DROP CONSTRAINT IF EXISTS fk_decks_folder;
ALTER TABLE IF EXISTS ONLY public.decks DROP CONSTRAINT IF EXISTS fk_deck_user;
ALTER TABLE IF EXISTS ONLY public.cards DROP CONSTRAINT IF EXISTS fk_card_deck;
DROP INDEX IF EXISTS public.idx_test_results_user_id;
DROP INDEX IF EXISTS public.idx_test_results_user_deck;
DROP INDEX IF EXISTS public.idx_test_results_submitted_at;
DROP INDEX IF EXISTS public.idx_test_results_deck_id;
DROP INDEX IF EXISTS public.idx_study_sessions_user_id;
DROP INDEX IF EXISTS public.idx_study_sessions_start_time;
DROP INDEX IF EXISTS public.idx_study_sessions_mode;
DROP INDEX IF EXISTS public.idx_study_sessions_deck_id;
DROP INDEX IF EXISTS public.idx_folders_user_id;
DROP INDEX IF EXISTS public.idx_folders_last_viewed_at;
DROP INDEX IF EXISTS public.idx_folders_is_deleted;
DROP INDEX IF EXISTS public.idx_decks_user_folder;
DROP INDEX IF EXISTS public.idx_decks_updated;
DROP INDEX IF EXISTS public.idx_decks_last_viewed_at;
DROP INDEX IF EXISTS public.idx_decks_folder_id;
DROP INDEX IF EXISTS public.idx_cards_updated;
DROP INDEX IF EXISTS public.idx_cards_is_starred;
DROP INDEX IF EXISTS public.idx_cards_deck_position;
DROP INDEX IF EXISTS public.idx_card_progress_due;
DROP INDEX IF EXISTS public.flyway_schema_history_s_idx;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.card_progress DROP CONSTRAINT IF EXISTS uq_user_card;
ALTER TABLE IF EXISTS ONLY public.test_results DROP CONSTRAINT IF EXISTS test_results_pkey;
ALTER TABLE IF EXISTS ONLY public.study_sessions DROP CONSTRAINT IF EXISTS study_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.study_log DROP CONSTRAINT IF EXISTS study_log_pkey;
ALTER TABLE IF EXISTS ONLY public.folders DROP CONSTRAINT IF EXISTS folders_pkey;
ALTER TABLE IF EXISTS ONLY public.flyway_schema_history DROP CONSTRAINT IF EXISTS flyway_schema_history_pk;
ALTER TABLE IF EXISTS ONLY public.decks DROP CONSTRAINT IF EXISTS decks_pkey;
ALTER TABLE IF EXISTS ONLY public.cards DROP CONSTRAINT IF EXISTS cards_pkey;
ALTER TABLE IF EXISTS ONLY public.card_progress DROP CONSTRAINT IF EXISTS card_progress_pkey;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.test_results ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.study_sessions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.study_log ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.folders ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.decks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.cards ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.card_progress ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.test_results_id_seq;
DROP TABLE IF EXISTS public.test_results;
DROP SEQUENCE IF EXISTS public.study_sessions_id_seq;
DROP TABLE IF EXISTS public.study_sessions;
DROP SEQUENCE IF EXISTS public.study_log_id_seq;
DROP TABLE IF EXISTS public.study_log;
DROP SEQUENCE IF EXISTS public.folders_id_seq;
DROP TABLE IF EXISTS public.folders;
DROP TABLE IF EXISTS public.flyway_schema_history;
DROP SEQUENCE IF EXISTS public.decks_id_seq;
DROP TABLE IF EXISTS public.decks;
DROP SEQUENCE IF EXISTS public.cards_id_seq;
DROP TABLE IF EXISTS public.cards;
DROP SEQUENCE IF EXISTS public.card_progress_id_seq;
DROP TABLE IF EXISTS public.card_progress;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: card_progress; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.card_progress (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    card_id bigint NOT NULL,
    learning_state character varying(30) DEFAULT 'NEW'::character varying NOT NULL,
    next_review timestamp without time zone,
    "interval" integer DEFAULT 0 NOT NULL,
    ease_factor double precision DEFAULT 2.5 NOT NULL,
    repetitions integer DEFAULT 0 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.card_progress OWNER TO flashcards_user;

--
-- Name: card_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.card_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.card_progress_id_seq OWNER TO flashcards_user;

--
-- Name: card_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.card_progress_id_seq OWNED BY public.card_progress.id;


--
-- Name: cards; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.cards (
    id bigint NOT NULL,
    deck_id bigint NOT NULL,
    term text NOT NULL,
    definition text NOT NULL,
    example text,
    image_url text,
    audio_url text,
    "position" integer DEFAULT 0 NOT NULL,
    tags text[],
    source_card_id character varying(255),
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_starred boolean DEFAULT false NOT NULL
);


ALTER TABLE public.cards OWNER TO flashcards_user;

--
-- Name: COLUMN cards.is_starred; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.cards.is_starred IS 'Indicates if the card is starred/favorited by the user';


--
-- Name: cards_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.cards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cards_id_seq OWNER TO flashcards_user;

--
-- Name: cards_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.cards_id_seq OWNED BY public.cards.id;


--
-- Name: decks; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.decks (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    source_type character varying(20) DEFAULT 'LOCAL'::character varying NOT NULL,
    source_id character varying(255),
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    folder_id bigint,
    last_viewed_at timestamp without time zone
);


ALTER TABLE public.decks OWNER TO flashcards_user;

--
-- Name: COLUMN decks.folder_id; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.decks.folder_id IS 'Parent folder (nullable - deck can exist without folder)';


--
-- Name: COLUMN decks.last_viewed_at; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.decks.last_viewed_at IS 'Timestamp when user last clicked to view this deck';


--
-- Name: decks_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.decks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.decks_id_seq OWNER TO flashcards_user;

--
-- Name: decks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.decks_id_seq OWNED BY public.decks.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO flashcards_user;

--
-- Name: folders; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.folders (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    is_deleted boolean NOT NULL,
    name character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    last_viewed_at timestamp without time zone
);


ALTER TABLE public.folders OWNER TO flashcards_user;

--
-- Name: TABLE folders; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON TABLE public.folders IS 'Folders to organize decks';


--
-- Name: COLUMN folders.is_deleted; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.folders.is_deleted IS 'Soft delete flag';


--
-- Name: COLUMN folders.user_id; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.folders.user_id IS 'Owner of the folder';


--
-- Name: COLUMN folders.last_viewed_at; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.folders.last_viewed_at IS 'Timestamp when user last clicked to view this folder';


--
-- Name: folders_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.folders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.folders_id_seq OWNER TO flashcards_user;

--
-- Name: folders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.folders_id_seq OWNED BY public.folders.id;


--
-- Name: study_log; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.study_log (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    card_id bigint NOT NULL,
    grade character varying(10) NOT NULL,
    time_taken_ms integer,
    reviewed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    action character varying(20)
);


ALTER TABLE public.study_log OWNER TO flashcards_user;

--
-- Name: study_log_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.study_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.study_log_id_seq OWNER TO flashcards_user;

--
-- Name: study_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.study_log_id_seq OWNED BY public.study_log.id;


--
-- Name: study_sessions; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.study_sessions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    deck_id bigint,
    mode character varying(20) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    duration_seconds integer NOT NULL,
    cards_studied integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_study_sessions_duration CHECK ((duration_seconds >= 0)),
    CONSTRAINT chk_study_sessions_time CHECK ((end_time >= start_time))
);


ALTER TABLE public.study_sessions OWNER TO flashcards_user;

--
-- Name: study_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.study_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.study_sessions_id_seq OWNER TO flashcards_user;

--
-- Name: study_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.study_sessions_id_seq OWNED BY public.study_sessions.id;


--
-- Name: test_results; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.test_results (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    deck_id bigint NOT NULL,
    score numeric(5,2) NOT NULL,
    correct_count integer DEFAULT 0 NOT NULL,
    wrong_count integer DEFAULT 0 NOT NULL,
    skipped_count integer DEFAULT 0 NOT NULL,
    total_questions integer NOT NULL,
    duration_seconds integer NOT NULL,
    submitted_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT check_counts_positive CHECK (((correct_count >= 0) AND (wrong_count >= 0) AND (skipped_count >= 0) AND (total_questions > 0))),
    CONSTRAINT check_score_range CHECK (((score >= (0)::numeric) AND (score <= (100)::numeric)))
);


ALTER TABLE public.test_results OWNER TO flashcards_user;

--
-- Name: TABLE test_results; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON TABLE public.test_results IS 'Stores practice test results for analytics';


--
-- Name: COLUMN test_results.score; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.test_results.score IS 'Percentage score (0-100)';


--
-- Name: COLUMN test_results.duration_seconds; Type: COMMENT; Schema: public; Owner: flashcards_user
--

COMMENT ON COLUMN public.test_results.duration_seconds IS 'Time taken to complete the test in seconds';


--
-- Name: test_results_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.test_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.test_results_id_seq OWNER TO flashcards_user;

--
-- Name: test_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.test_results_id_seq OWNED BY public.test_results.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: flashcards_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.users OWNER TO flashcards_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: flashcards_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO flashcards_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: flashcards_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: card_progress id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.card_progress ALTER COLUMN id SET DEFAULT nextval('public.card_progress_id_seq'::regclass);


--
-- Name: cards id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.cards ALTER COLUMN id SET DEFAULT nextval('public.cards_id_seq'::regclass);


--
-- Name: decks id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.decks ALTER COLUMN id SET DEFAULT nextval('public.decks_id_seq'::regclass);


--
-- Name: folders id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.folders ALTER COLUMN id SET DEFAULT nextval('public.folders_id_seq'::regclass);


--
-- Name: study_log id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_log ALTER COLUMN id SET DEFAULT nextval('public.study_log_id_seq'::regclass);


--
-- Name: study_sessions id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_sessions ALTER COLUMN id SET DEFAULT nextval('public.study_sessions_id_seq'::regclass);


--
-- Name: test_results id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.test_results ALTER COLUMN id SET DEFAULT nextval('public.test_results_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: card_progress; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: decks; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: folders; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--

COPY public.folders (id, created_at, description, is_deleted, name, updated_at, user_id, last_viewed_at) FROM stdin;
1	2026-01-14 19:41:26.486546	├ídfasdf	f	dsadf	2026-01-16 16:42:56.472085	1	2026-01-16 21:47:45.869232
\.


--
-- Data for Name: study_log; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: study_sessions; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--



--
-- Data for Name: test_results; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--

COPY public.test_results (id, user_id, deck_id, score, correct_count, wrong_count, skipped_count, total_questions, duration_seconds, submitted_at, created_at) FROM stdin;
1	1	1	100.00	6	0	0	6	17	2026-01-16 15:59:33.200721	2026-01-16 15:59:33.200721
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: flashcards_user
--

COPY public.users (id, email, password_hash, created_at) FROM stdin;
1	nam123@gmail.com	$2a$10$Q2K5YIdjjl658qrkq4pEBex.c01TMOJ2kTRsBLxS9OxKdnaN5pGIS	2026-01-12 20:29:40.096781
2	admin123123@gmail.com	$2a$10$wFNwfQEqSABFsRk3.j1Od.HPoZmrxpgDTa0alwCWlKmc8YYPgxoCe	2026-01-12 20:42:39.088755
3	test@gmail.com	$2a$10$8cpJwzQimsm.qNJNHXwJ/u5U82VYI0rDnGPSpeVOBua3JLKajCcla	2026-01-13 09:09:18.225695
\.


--
-- Name: card_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.card_progress_id_seq', 22, true);


--
-- Name: cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.cards_id_seq', 50, true);


--
-- Name: decks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.decks_id_seq', 5, true);


--
-- Name: folders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.folders_id_seq', 1, true);


--
-- Name: study_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.study_log_id_seq', 91, true);


--
-- Name: study_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.study_sessions_id_seq', 13, true);


--
-- Name: test_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.test_results_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: flashcards_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: card_progress card_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.card_progress
    ADD CONSTRAINT card_progress_pkey PRIMARY KEY (id);


--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (id);


--
-- Name: decks decks_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.decks
    ADD CONSTRAINT decks_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: folders folders_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.folders
    ADD CONSTRAINT folders_pkey PRIMARY KEY (id);


--
-- Name: study_log study_log_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_log
    ADD CONSTRAINT study_log_pkey PRIMARY KEY (id);


--
-- Name: study_sessions study_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_sessions
    ADD CONSTRAINT study_sessions_pkey PRIMARY KEY (id);


--
-- Name: test_results test_results_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT test_results_pkey PRIMARY KEY (id);


--
-- Name: card_progress uq_user_card; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.card_progress
    ADD CONSTRAINT uq_user_card UNIQUE (user_id, card_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_card_progress_due; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_card_progress_due ON public.card_progress USING btree (user_id, next_review);


--
-- Name: idx_cards_deck_position; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_cards_deck_position ON public.cards USING btree (deck_id, "position");


--
-- Name: idx_cards_is_starred; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_cards_is_starred ON public.cards USING btree (is_starred) WHERE (is_starred = true);


--
-- Name: idx_cards_updated; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_cards_updated ON public.cards USING btree (updated_at);


--
-- Name: idx_decks_folder_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_decks_folder_id ON public.decks USING btree (folder_id);


--
-- Name: idx_decks_last_viewed_at; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_decks_last_viewed_at ON public.decks USING btree (last_viewed_at DESC);


--
-- Name: idx_decks_updated; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_decks_updated ON public.decks USING btree (updated_at);


--
-- Name: idx_decks_user_folder; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_decks_user_folder ON public.decks USING btree (user_id, folder_id);


--
-- Name: idx_folders_is_deleted; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_folders_is_deleted ON public.folders USING btree (is_deleted);


--
-- Name: idx_folders_last_viewed_at; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_folders_last_viewed_at ON public.folders USING btree (last_viewed_at DESC);


--
-- Name: idx_folders_user_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_folders_user_id ON public.folders USING btree (user_id);


--
-- Name: idx_study_sessions_deck_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_study_sessions_deck_id ON public.study_sessions USING btree (deck_id);


--
-- Name: idx_study_sessions_mode; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_study_sessions_mode ON public.study_sessions USING btree (mode);


--
-- Name: idx_study_sessions_start_time; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_study_sessions_start_time ON public.study_sessions USING btree (start_time);


--
-- Name: idx_study_sessions_user_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_study_sessions_user_id ON public.study_sessions USING btree (user_id);


--
-- Name: idx_test_results_deck_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_test_results_deck_id ON public.test_results USING btree (deck_id);


--
-- Name: idx_test_results_submitted_at; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_test_results_submitted_at ON public.test_results USING btree (submitted_at DESC);


--
-- Name: idx_test_results_user_deck; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_test_results_user_deck ON public.test_results USING btree (user_id, deck_id, submitted_at DESC);


--
-- Name: idx_test_results_user_id; Type: INDEX; Schema: public; Owner: flashcards_user
--

CREATE INDEX idx_test_results_user_id ON public.test_results USING btree (user_id);


--
-- Name: cards fk_card_deck; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT fk_card_deck FOREIGN KEY (deck_id) REFERENCES public.decks(id) ON DELETE CASCADE;


--
-- Name: decks fk_deck_user; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.decks
    ADD CONSTRAINT fk_deck_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: decks fk_decks_folder; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.decks
    ADD CONSTRAINT fk_decks_folder FOREIGN KEY (folder_id) REFERENCES public.folders(id) ON DELETE SET NULL;


--
-- Name: study_log fk_log_card; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_log
    ADD CONSTRAINT fk_log_card FOREIGN KEY (card_id) REFERENCES public.cards(id) ON DELETE CASCADE;


--
-- Name: study_log fk_log_user; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_log
    ADD CONSTRAINT fk_log_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: card_progress fk_progress_card; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.card_progress
    ADD CONSTRAINT fk_progress_card FOREIGN KEY (card_id) REFERENCES public.cards(id) ON DELETE CASCADE;


--
-- Name: card_progress fk_progress_user; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.card_progress
    ADD CONSTRAINT fk_progress_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: study_sessions fk_study_sessions_deck; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_sessions
    ADD CONSTRAINT fk_study_sessions_deck FOREIGN KEY (deck_id) REFERENCES public.decks(id) ON DELETE SET NULL;


--
-- Name: study_sessions fk_study_sessions_user; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.study_sessions
    ADD CONSTRAINT fk_study_sessions_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: test_results fk_test_results_deck; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT fk_test_results_deck FOREIGN KEY (deck_id) REFERENCES public.decks(id) ON DELETE CASCADE;


--
-- Name: test_results fk_test_results_user; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.test_results
    ADD CONSTRAINT fk_test_results_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: decks fkw437eayqgu30qkfgenn4kmll; Type: FK CONSTRAINT; Schema: public; Owner: flashcards_user
--

ALTER TABLE ONLY public.decks
    ADD CONSTRAINT fkw437eayqgu30qkfgenn4kmll FOREIGN KEY (folder_id) REFERENCES public.folders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict QGpeOPCPWSAibzd3OgGg8hwir1WhvcB947Hqtonm9iVqGMyXf3aOHPtgVvuWomj

